# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
.DS_Store
dist
dist-ssr
*.local

/cypress/videos/
/cypress/screenshots/

# Editor directories and files
!./demoappu01/.vscode
!./demoapp/.vscode
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
./demoapp/node_modules
./demoappu01/node_modules
U:\Training\VueJS\Vue2\demoappu01\.vscode
U:\Training\VueJS\Vue2\demoapp\.vscode
